<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    &nbsp<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrDR4CHNyQXavVI0IJbRW_zFj01o8xrKNQcgDSKSTAiQQpZHWG_2h0sReF1rMBmcsO4no&usqp=CAU" height="50px">&nbsp
    <a class="navbar-brand" href="#">Sell A Car</a>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">

            <li class="nav-item">

                <a class="nav-link" href="">Home</a>
            </li>
        </ul>
    </div>
</nav>